.preloadDiv {
  display: none;
    position: absolute;
    left: 47%;
    top: 33%;
    z-index: 60;
}
/* cuerpo */
.quienes-somos{ background-image: url(../img/fondos/bioetica-quienes-somos-fondo.jpg) ;
  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover; }

.show-resultados{ background-image: url(../img/fondos/fondobieticaresultados.jpg);
  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover; }

.areas-de-bioetica-fondo{background: url(../img/fondos/fondo-areas-de-bioetica.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover; }

.unete{background: url(../img/fondos/bioetica-formulario-fondo.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover; }

.full {margin: 0; padding: 0px;}
.portada{background-image: url(../img/fondos/portada-bioetica.jpg);-webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover; background-size: cover; background-color: transparent;}
/* principal index */
.franja-negra{background-color: #000; width: 100%; height: 89px; padding: 28px;}
.centrar{ display: flex; justify-content: center;  align-content: center;  flex-direction: column;}
.boton-portada{}
.boton-portada1{}

.boton-portada{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 7px;padding-left: 25px;padding-right: 25px; cursor: pointer; position: relative;left: 60px; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.50); height: auto;}
.boton-portada:hover{color: #fff; background-color: #000; text-decoration: none;}
.boton-portada:focus{text-decoration: none; color: #fff;}
.boton-portada:active{text-decoration: none;}
.boton-portadaespacio{letter-spacing: 2px;}

.boton-portada1{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 7px;padding-left: 25px;padding-right: 25px; cursor: pointer; position: relative; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.50); height: auto;}
.boton-portada1:hover{color: #fff; background-color: #000; text-decoration: none;}
.boton-portada1:focus{text-decoration: none; color: #fff;}
.boton-portada1:active{text-decoration: none;}


/* boton naranja */
.boton-naranja{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 5px; cursor: pointer; margin-right: 0;}
.boton-naranja:hover{text-decoration: none; color: #fff;}
.boton-naranja:focus{text-decoration: none; color: #fff;}
.boton-naranja:active{text-decoration: none;}
.boton-naranjaflexbox{display: flex; justify-content: flex-end; letter-spacing: 2px;}
/* botones de navegacion */
.contenerdorbotones{ width: 190px; color: #fff;}
.boton-navegacion{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 21px;; cursor: pointer; margin-right: 89px;  display: block;
    width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.50); height: auto;}
.boton-navegacion:hover{color: #fff; background-color: #000; text-decoration: none;}
.boton-navegacion:focus{text-decoration: none; color: #fff;}
.boton-navegacion:active{text-decoration: none;}
  /* contenido informativo / formato de textos  */
.contenido-titular > h4{background-color: #000; margin-left: 5px; color:#fff; text-align: center; letter-spacing: 3px;}
.linea >hr{ width: 46%; margin-top: -5px;}
.contenido {margin-left: 43px;background-color: rgba(0, 0, 0, 0.50); height: auto;}.quitarespaciadoimagenes{padding:0;}
.contenido-imagenes{ padding: 46px;}
.quitarespaciadoimagenes{padding:0;}
.bajarh4 {padding-top: 10px; }
.subirh5 {padding-bottom: 8px; margin-top: -13px;color:#fff;}
.todoeltexto {background-color: #fff; margin-left: 5px; color:#000;}
.parrafos{ line-height: 23px; letter-spacing: 3px;}
/* caja de areas */
.cajadeareas{ background-color: #DCDBDB; padding: 10px; padding-bottom: 20px;  width: 77%;}
/* Pie */
.pie{bottom: 0;position: absolute;background-color: #000; width: 100%; height: auto; margin-top: 47px; padding: 28px; letter-spacing: 3px;}
.enlacespie{text-decoration: none; color: #fff;}
.enlacespie:hover{text-decoration: none; color: #fff;}
.enlacespie:focus{text-decoration: none; color: #fff; font-weight: bold;}
.espaciocontacto{margin-left: 300px;}
.centrarimagenpie{margin-left: 10px;width: 52px;height: 52px}
.barravertical{ border-right: 1px solid #fff; }
.inicio-bio{margin-top: 15%;}

/* experimento navegacion con botones boostrap*/
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default { color: #fff; background-color: #000; border-color: transparent; }
.btn-default.focus, .btn-default:focus {color: #fff; background-color:rgba(0, 0, 0, 0.52); border-color: transparent; }
.btn {border-radius: 0px;   margin:0px 0 0 0; border-color: transparent; border-style: none;}
.btn-default {color: #fff; background-color:rgba(0, 0, 0, 0.52);  border-color: transparent; }
.btn-default:hover {color: #fff; background-color: #000; border-color: transparent; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {  outline: none;  }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {     color: #fff; background-color: #000; border-color: transparent;  }
.sindecoracionbtn:hover {text-decoration: none; }

/* unete */
.inputCapcha
{
background: url(../img/iconos.gif) no-repeat scroll 0 0 transparent;
border: 1px solid #BFBFBF;
color: #BFBFBF;
width: 230px;
}
 .img-quienes{
    padding-left: 50px;
  }
.foot{display: none;}
.inputCapcha{ width: auto;background-position: 99% -89px;}
.volvermapa{
  left: 100%;position: relative;top: -10px;color:black;
}
@media (max-width: 1366px){
 .espaciocontacto {
      margin-left: 225px;
  }

}

@media (max-width: 1026px){
.contactolog{
    position: relative;left: 10%; bottom: 18px;
  }
}
@media (min-width: 1200px){
  .container {
      width: 1142px;
  }
  .contactolog{
    position: relative;left: 14%; bottom: 18px;
  }
}

@media (max-width: 1024px){

  .inicio-bio {
      margin-top: 15%;
  }
  .espaciocontacto {
    margin-left: 95px;
  }
}
@media (min-width: 1200px){
.container {
    width: 1142px;
}
}
@media (max-width: 1221px){
  .menuShow{
    display: none;
  }

}

@media only screen and(max-width: 568px) {
  /* movil */
  .inicio-bio {
      margin-top: 4%;
  }
  .centrarimagenpie{
    height: 35px;
    width: 35px;
  }
  .foot{

    display: block;
  }
  .pie{
    position: relative;
  }

}
@media (max-width: 768px) {
  /* movil */
  .volvermapa{
  left: 95%;position: relative;top: -10px;color:black;margin-top: 20px;
}
  .inicio-bio {
      margin-top: 15%;
  }
  .boton-naranja{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 5px; cursor: pointer; margin-right: 0;}
  .centrarimagenpie{
    height: 35px;
    width: 35px;
  }
  .foot{

    display: block;
  }
  .contenido {
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.50);
    height: auto;
  }
   .img-quienes{
    padding-left: 50px;
  }
  .cajadeareas {
    background-color: #DCDBDB;
    padding: 10px;
    width: 100%;
  }
  .menuShow{
    display: none;
  }
   .footinitial{

    display: none;
  }
}
@media (max-width: 320px) {
  .inicio-bio {
      margin-top: 10%;
  }
    .volvermapa{
  left: 95%;position: relative;top: -10px;color:black;margin-top: 20px;
}
}

@media (max-width: 425px) {
    .img-quienes{
    padding-left: 75px;
  }
}
@media (max-width: 375px) {
    .img-quienes{
    padding-left: 30px;
  }
}
