.preloadDiv {
  display: none;
    position: absolute;
    left: 47%;
    top: 33%;
    z-index: 60;
}
.pie{bottom: 0;position: absolute;background-color: #000; width: 100%; height: auto; margin-top: 47px; padding: 28px; letter-spacing: 3px;}
.enlacespie{text-decoration: none; color: #fff;}
.enlacespie:hover{text-decoration: none; color: #fff;}
.enlacespie:focus{text-decoration: none; color: #fff; font-weight: bold;}
.espaciocontacto{margin-left: 300px;}
.centrarimagenpie{margin-left: 10px;}
.barravertical{ border-right: 1px solid #fff; }
.listambito:nth-child(even){background-color: #7F2338;}
.listambito:hover{background-color: #000;}

.listarea:nth-child(even){background-color: #7F8C54;}
.listarea:hover{background-color: #000;}


.full {margin: 0; padding: 0px;}

.boton-portada{}

  .boton-portada{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 7px;; cursor: pointer; margin-right: 89px; width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.50); height: auto;}
  .boton-portada:hover{color: #fff; background-color: #000; text-decoration: none;}
  .boton-portada:focus{text-decoration: none; color: #fff;}
  .boton-portada:active{text-decoration: none;}
  .boton-portadaespacio{letter-spacing: 2px;}


/* botones de navegacion */
.contenerdorbotones{ width: 190px; color: #fff;}
.boton-navegacion{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 21px;; cursor: pointer; margin-right: 89px;  display: block;
    width: 100%; text-align: center; background-color: rgba(0, 0, 0, 0.50); height: auto;}
.boton-navegacion:hover{color: #fff; background-color: #000; text-decoration: none;}
.boton-navegacion:focus{text-decoration: none; color: #fff;}
.boton-navegacion:active{text-decoration: none;}

/* contenido informativo / formato de textos  */
.contenido-titular {background-color: #000; margin-left: 5px; color:#fff; text-align: center; letter-spacing: 3px;}
.linea{ width: 46%; margin-top: -5px;}
.contenido {margin-left: 43px;background-color: rgba(0, 0, 0, 0.50); height: auto;}.quitarespaciadoimagenes{padding:0;}
.contenido-imagenes{ padding: 46px;}
.quitarespaciadoimagenes{padding:0;}
.subirh5{margin-top: -13px;}
.todoeltexto {background-color: #fff; margin-left: 5px; color:#000;}
.parrafos{ line-height: 23px; letter-spacing: 3px;}
/* caja de areas */
.cajadeareas{ background-color: #DCDBDB; padding: 10px;   width: 77%;}

.text-orange{
	color:#FC900A;
}

.namePage{
   	padding-left: 0;
   	font-weight: 700;
   	letter-spacing: 3px;
    color: white;
    font-size: 24px;
    text-align: center;
    position: relative;
    top: 80px;
    background: #000;
    padding-right: 0;
    padding-top: 10px;
   
}

 @media (max-width: 1280px){
  .namePage{
      padding-left: 0;
      font-weight: 700;
      letter-spacing: 3px;
      color: white;
      font-size: 24px;
      text-align: center;
      position: relative;
      top: 50px;
      background: #000;
      padding-right: 0;
      padding-top: 5px;
     
  }
}

/* experimento navegacion con botones boostrap
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default { color: #fff; background-color: #000; border-color: transparent; }
.btn-default.focus, .btn-default:focus {color: #fff; background-color:rgba(0, 0, 0, 0.52); border-color: transparent; }
.btn {border-radius: 0px; padding: 19px 0px; margin:0px 0 0 0; border-color: transparent; border-style: none;}
.btn-default {color: #fff; background-color:rgba(0, 0, 0, 0.52);  border-color: transparent; }
.btn-default:hover {color: #fff; background-color: #000; border-color: transparent; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {  outline: none;  }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {     color: #fff; background-color: #000; border-color: transparent;  }
.sindecoracionbtn:hover {text-decoration: none; }*/
