
body {
/*   imagen inicial sin capa  opacity */
/* background-image: url(/img/fondos/aerial-view-fondo-filtros.jpg); */
background-image: url(/img/fondos/fondobieticaresultados.jpg);
-webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;
background-size: 100% 100%; background-color: transparent;

}
#myUL{
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    max-height: 400px;
}

#myUL::-webkit-scrollbar {
  width: 5px;
}
#myUL::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      height: 1rem;
}

html {background-color: transparent;}
#svg {
      width: 900px;
      height: 900px;
    }
#myInput {
  font-size: 14px;
  height: 46px;
  background:  rgba(195,195,195, 0.70);
  border: 0;
  border-radius: 0;

  }
.preloadDiv {
  display: none;
    position: absolute;
    left: 47%;
    top: 33%;
    z-index: 60;
}
/* cargador de pagina */

.donde{
   background: url('/img/content/modo-visualizacion-mapa.png') no-repeat;
}
.dondeList{
   background: url('/img/content/modo-visualizacion-lista.png') no-repeat;
}

#modoVisual{
position: relative;left: 5.5em;margin-top: 2em;
}
/* dar color al place holder de input reproduccion asistida */
#myInput::-webkit-input-placeholder{color: #000;}

#mapaListColor{
      height: 76px;
    top: 6rem;
    position: relative;
    right: -10px;
    text-align: center;
}

#mapa:hover{
  cursor: pointer;
}

#ShowListado:hover{
  cursor: pointer;
}
#listadoResult{
    display: none;
  }
#myInputIcon{
background-position: 95% 12px;
background-repeat: no-repeat;

}
#myUL {
  display: block;
list-style-type: none;
padding: 0;
margin: 0;
padding-top: 12px;
border-radius: 0;
position: absolute;
top: 100%;
}

.listCookie{
      z-index: 30;
    position: absolute;
    top: 6rem;
}

.btn-ocultarResult {
    background: transparent;
    float: right;
    position: relative;
    top: 0;
    padding: 0;
    margin-left: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#ulE {
list-style-type: none;
padding: 0;
margin: 0;
padding-top: 0;
border-radius: 0;
}
.list-group-item:nth-child(even){background-color: #f2f2f2}



.list-group-item {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #ffffff;

background: rgba(255,255,255, 0.70);
border: 0;
}
.minimizar{
  height: 31px;
  position: relative;
}
#myUL li a.header {
background-color: #e2e2e2;
cursor: default;
border: 0;
}

/* color a quien busco */
#u680 {
background-color:rgba(224, 172, 83, 0.70);
color:#fff;
opacity: 0.8;
filter: alpha(opacity=60);
border: 0;
}
/* colo ambito que me interesa */
#u681{
background-color: rgba(128, 36, 56, 0.70);
color:#fff;
opacity: 0.8;
filter: alpha(opacity=60);
border: 0;
}
/* color que area de la bioetica busco */
#u682{
background-color: rgba(128,141,84, 0.70);
color:#fff;
opacity: 0.8;
filter: alpha(opacity=60);
border: 0;
}
#mapaIr{
background-color: #CE6E22;
color: #fff;
}
.search{
padding: 6px 12px;
font-size: 14px;
font-weight: normal;
line-height: 1;
color: #000;
text-align: center;
background-color: #000;
border: 0;
border-radius: 0;

}
/* .capaRespuestaMapa{
background-image: url(/img/fondos/imagen-de-fondo-mapa.png);-webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;
background-size: cover; background-color: transparent;
}
.capaRespuesta{
background-image: url(/img/fondos/aerial-view-fondo-filtros.jpg);
-webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;
background-size: cover; background-color: transparent;
} */
.cambiar:hover
{
  background: #000;
  color:#fff;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #000;
}
.Listasistida:hover{
    background:  rgba(195,195,195, 0.70);
  color:#fff;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #000;
}
.centrarimagenpie{margin-left: 10px;width: 52px;height: 52px}
.foot{display: none;}
.inputCapcha{ width: auto;background-position: 99% -89px;}
.botonIr{
    padding-left: 5px;padding-right: 0
  }

@media (max-width: 1366px){
 .espaciocontacto {
      margin-left: 225px;
  }
}


@media (max-width: 1221px){
  .menuShow{
    display: none;
  }

}
@media (min-width: 1200px){
  .container {
      width: 1142px;
  }
  .contactolog{
    position: relative;left: 30%;
  }
}
@media (max-width: 1026px){
.contactolog{
    position: relative;left: 20%;
  }
}
@media (max-width: 1024px){
  .menuShow{
    display: none;
  }
    .espaciocontacto {
    margin-left: 95px;
  }

   .btn-ocultarResult{
    background: transparent;
      float: left;
      position: absolute;
      top: 12%;
      padding: 0;
      margin-left: 20px;
  }
}

@media (min-width: 991px) {
   .filstrosDelante{
    position: absolute;
  }
  .cuadroAtraz{
    position: inherit;
    z-index: 9;
    top: 75px;
    margin-bottom: 30px;
  }

}



@media (max-width: 991px) {
  .ajusteMovil{
    padding-left: 0;
    padding-right: 0;
  }
  .btn-ocultarResult {
      background: transparent;
      float: left;
      position: absolute;
      top: 25%;
      padding: 0;
      margin-left: 20px;
  }
}
@media (max-width: 768px) {

.preloadDiv {
    position: fixed;
    top: 40%;
    left: 20%;
    right: 0px;
    padding-bottom: 0px;
    z-index: 100;
    display: block;
    width: 395px;
    z-index: 60;
}
  /* movil */
  .listCookie {
    z-index: 30;
    position: absolute;
    top: 10rem;
}

#myCanvas {
    width: 900px;
    height: 900px;
    position: relative;
    top: 0;
    float: none;
}
/*div por ensima de svg para hacer función click*/

.btn-ocultarResult {
    background: transparent;
    float: right;
    position: relative;
    top: 0;
    padding: 0;
}
.botonIr{
    padding-left: 45%;
    padding-right: 0;
  }

  .inicio-bio {
      margin-top: 15%;
  }
  .boton-naranja{text-decoration: none; background-color:#CE6E22; color: #fff; padding: 5px; cursor: pointer; margin-right: 0;}
  .centrarimagenpie{
    height: 35px;
    width: 35px;
  }
  .ajusteMovil{
    padding-left: 0;
    padding-right: 0;
  }
  .foot{

    display: block;
  }
  .contenido {
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.50);
    height: auto;
  }
   .img-quienes{
    padding-left: 50px;
  }
  .cajadeareas {
    background-color: #DCDBDB;
    padding: 10px;
    width: 100%;
  }
  .menuShow{
    display: none;
  }
   .footinitial{

    display: none;
  }
}
@media only screen and(max-width: 568px) {
  /* movil */
  .inicio-bio {
      margin-top: 4%;
  }
  .centrarimagenpie{
    height: 35px;
    width: 35px;
  }
  .foot{

    display: block;
  }
  .pie{
    position: relative;
  }

    #myUL {
      position: relative;

  }
}
@media (max-width: 425px) {
  .botonIr{
    padding-left: 45%;
    padding-right: 0;
  }
 .filstrosDelante{
    position: relative;
      margin-bottom: 30px;
  }
  .cuadroAtraz{
    position: relative;

  }
  .minimizar {
    height: 31px;
    width: 100%;
    position: absolute;
}
.listCookie {
    z-index: 30;
    position: absolute;
    top: 10rem;
}

.listColor{

    margin-top: 6rem;
}
.btn-ocultarResult {
    position: absolute;
    margin-left: 31%;

  }

}
@media (max-width: 414px) {
  .btn-ocultarResult {
    position: relative;
    margin-left: 31%;
}
}
@media (max-width: 375px) {
  .preloadDiv {
    position: fixed;
    top: 40%;
    left: 0;
    right: 0px;
    padding-bottom: 0px;
    z-index: 100;
    display: block;
    width: 395px;
    z-index: 60;
}
}
@media (max-width: 360px) {
  .btn-ocultarResult {
      position: absolute;
      margin-left: 79%;
      top: 0;
  }
}
@media (max-width: 320px) {
   .listCookie{
        z-index: 30;
      position: absolute;
      top: 10rem;
  }
  #myCanvas {
      width: 0;
      height: 0;
      position: absolute;
      top: 0;
      left: -60px;
  }
  .preloadDiv {
      position: fixed;
      top: 40%;
      left: 0;
      right: 0px;
      padding-bottom: 0px;
      z-index: 100;
      display: block;
      width: 323px;
      z-index: 60;
  }
}
@media (min-width: 320px) {
  .minimizar {
    height: 31px;
    width: 100%;
    position: relative;
  }
    #myUL {
      position: relative;

  }


}
